Modifying the ECB speeches file to contain only Date and Contents

In [6]:
import pandas as pd
df = pd.read_csv("all_ECB_speeches.csv", sep = '|')

In [15]:
keep_col = ['date','contents']
new_df = df[keep_col]

In [16]:
new_df.head()

         date                                           contents
0  2021-10-20     SPEECH  Overcoming the tragedy of the horiz...
1  2021-10-19     SPEECH  “Hic sunt leones” – open research q...
2  2021-10-19     SPEECH  The role of supervisors and central...
3  2021-10-16     SPEECH  Globalisation after the pandemic   ...
4  2021-10-14     SPEECH  IMFC Statement    Statement by Chri...

In [19]:
import csv
new_df.to_csv("speeches.csv", index=False)

MErging the datasets

In [11]:
import pandas as pd
import os
import numpy as np
import csv
from nltk import FreqDist
import re
import matplotlib.pyplot as plt

In [13]:
speeches = pd.read_csv("speeches.csv")
fx = pd.read_csv("fx.csv")

C:\Users\singa\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (457,522,523,524,525,526,527,528,529,530,531,532,533,534,535,536,537,538,539,540,541,542,543,544,545,546,547,548,549,550,551,552,553,554,555,556,557,558,559,560,561,562,563,564,565,566,567,568,569,570,571,572,573,574,575,576,577,578,579,580,581,582,583,584,585,586,587,588,589,590,591,592,593,594,595,596,597,598,599,600,601,602,603,604,605,606,607,608,609,610,611,612,613,614,615,616,617,618,619,620,621,622,623,624,625,626,627,628,629,630,631,632,633,634,635,636,637,638,639,640,641,642,643,644,645,646,647,648,649,650,651,652,653,654,655,656,657,658,659,660,661,662,663,664,665,666,667,668,669,670,671,672,673,674,675,676,677,678,679,680,681,682,683,684,685,686,687,688,689,690,691,692,693,694,695,696,697,698,699,700,701,702,703,704,705,706,707,708,709,710,711,712,713,714,715,716,717,718,719,720,721,722,723,724,725,726,727,728,729,730,731,732,733,734,735,736,737,738,739,740,741,742,743,744,745,746,747,748,749,750,751,752,753,754,755,756,757,758,759,760,761,762,763,764,765,766,767,768,769,770,771,772,773) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [16]:
df1 = speeches.merge(fx, on='date', how='left')

In [18]:
df1.head()

,date,contents,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 767,Unnamed: 768,Unnamed: 769,Unnamed: 770,Unnamed: 771,Unnamed: 772,Unnamed: 773,value,obs. status,obs. comment
0,20/10/2021,SPEECH Overcoming the tragedy of the horiz...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.1623,Normal value (A),NaN
1,19/10/2021,SPEECH â€œHic sunt leonesâ€ â€“ open rese...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.1655,Normal value (A),NaN
2,19/10/2021,SPEECH The role of supervisors and central...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.1655,Normal value (A),NaN
3,16/10/2021,SPEECH Globalisation after the pandemic ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,14/10/2021,SPEECH IMFC Statement Statement by Chri...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.1602,Normal value (A),NaN

SyntaxError: invalid syntax (<ipython-input-4-b92196c50197>, line 1)